<article class="post">
    <div class="title">
        <a href="/post/{{id}}"><h2>{{title}}</h2></a>
        <blockquote>{{post_text}}</blockquote>
    </div>
    <div class="meta">
        by {{user.username}} on {{created_at}} |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>    
    </div>
</article>